.center {
    text-align: center;
    display: block;
    margin: 0 auto;
    clear: both;
    padding-top: 112px;
    padding-bottom: 20px;
  }
  
.searchbar {
    text-align: center;
  }

ul {
    list-style-type: none;
    padding: 0;
    margin: 15px;
  }

ul li {
    display: inline-block;
    margin: 5px 10px;
  }